
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               aaaa
            </th>
            <th>
               bbbb
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
\
