@model WebNeuralNets.Models.Dto.LoginModelDto

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/_layout.cshtml";
}

<div class="header">
    <h1 class="translate">INDEX_PAGE</h1>
</div>
<div class="content">
    
</div>
