@model WebNeuralNets.Models.Dto.LoginModelDto

@{
    Layout = "~/Views/_layout.cshtml";
}

<div class="header">
    <h1 class="translate">MENU_NEURALNETSLIST</h1>
</div>
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th class="translate">TEXT_NAME</th>
                <th class="translate">TEXT_DESCRIPTION</th>
                <th class="translate">TEXT_TRAININGRATE</th>
                <th class="translate">TEXT_LAYERSCOUNT</th>
                <th class="translate">TEXT_NEURONSCOUNT</th>
                <th class="translate">TEXT_ISTRAINING</th>
                <th class="translate">TEXT_TRAININGITERATIONS</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>

<script src="~/js/register.js"></script>
