@model WebNeuralNets.Models.Dto.LoginModelDto

@{
    Layout = "~/Views/_layout.cshtml";
}

<div class="header">
    <h1 class="translate">MENU_NEURALNETSLIST</h1>
</div>
<div class="tableContent">
    <table class="table">
        <thead>
            <tr>
                <th style="width:5%">Id</th>
                <th style="width:5%" class="translate">TEXT_NAME</th>
                <th style="width:5%" class="translate">TEXT_DESCRIPTION</th>
                <th style="width:5%" class="translate">TEXT_TRAININGRATE</th>
                <th style="width:5%" class="translate">TEXT_LAYERSCOUNT</th>
                <th style="width:5%" class="translate">TEXT_NEURONSCOUNT</th>
                <th style="width:5%" class="translate">TEXT_ISTRAINING</th>
                <th style="width:5%" class="translate">TEXT_TRAININGITERATIONS</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            <input id="Name" placeholder="Name" class="form-control" />
            <span id="NameValidation" class="text-danger hidden translate">VALIDATION_FIELDREQUIRED</span>
        </div>
        <div class="form-group col-md-5">
            <input id="Description" placeholder="Description" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <input id="TrainingRate" placeholder="Training rate" class="form-control" type="number" step="0.01" />
            <span id="TrainingRateValidation" class="text-danger hidden translate">VALIDATION_FIELDREQUIRED</span>
            <span id="TrainingRateTooLowValidation" class="text-danger hidden translate">VALIDATION_TRAININGRATETOOLOW</span>
        </div>
        <div class="form-gorup col-md-2">
            <button id="addButton" class="btn btn-primary pull-right translate">TEXT_ADD</button>
        </div>
    </div>
    <div>
        <div class="translate">TEXT_FILEUPLOAD</div>
        <input id="fileUpload" name="files" type="file" />
        <span id="FileUploadValidation" class="text-danger hidden translate">VALIDATION_INVALIDFILETYPE</span>
    </div>
</div>

<script src="~/js/neuralNetsList.js"></script>
