@model WebNeuralNets.Models.Dto.LoginModelDto

@{
    Layout = "~/Views/_layout.cshtml";
}

<div class="header">
    <h1 class="translate">MENU_NEURALNETSLIST</h1>
</div>
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/js/register.js"></script>
