@model WebNeuralNets.Models.Dto.LoginModelDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/_layout.cshtml";
}

<div class="header">
    <h1 class="translate">REGISTER_TEXT</h1>
</div>
<div class="content">
    <div class="form-group">
        <label for="Username" class="control-label translate">USERNAME_INPUT</label>
        <input id="Username" class="form-control" />
        <span id="UsernameValidation" class="text-danger hidden translate">VALIDATION_FIELDREQUIRED</span>
    </div>
    <div class="form-group">
        <label for="Password" class="control-label translate">PASSWORD_INPUT</label>
        <input id="Password" type="password" class="form-control" />
        <span id="PasswordValidation" class="text-danger hidden translate">VALIDATION_FIELDREQUIRED</span>
        <span id="PasswordValidationLength" class="text-danger hidden translate">VALIDATION_TOOSHORT</span>
    </div>
    <div class="form-group">
        <label for="Password2" class="control-label translate">PASSWORD2_INPUT</label>
        <input id="Password2" type="password" class="form-control" />
        <span id="PasswordValidation2" class="text-danger hidden translate">VALIDATION_PASSWORDMATCH</span>
    </div>
    <div class="form-group">
        <input id="submit" type="submit" value="REGISTER_TEXT" class="btn btn-primary translate col-md-12" />
    </div>
</div>

<script src="~/js/register.js"></script>
